li { list-style-type: square }
span#cena {
	color: red;
	font-weight: bold;
}

p.wstep {
	 font-style: italic;
}

td img{
	 border-style: solid;
	 border-color: blue;
}

td img:hover {
	border-style: solid;
    border-color: red;
}

h1 + h2 {
	letter-spacing: 5px;
}

td[colspan=2] > p {
	font-size: small;
}

p + p {
	color: gray;
}

body {
	background-image:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcKw1ASd-a3f8RPZ0MODmztXFiAvoNkHzHOOvC-zEqWXJCAC2);
	opacity: 1.0;
	background-repeat: repeat-y;
}

h1 { color: blue }
h1 { color: green }

* {
	font-family: Tahoma;
}

body {
	margin: 5em 10em 5em 10em;
}

p {
	text-align: justify;
}

#wydawnictwo {
	text-decoration: underline;
}

span#lista {
	font-weight: bold;
}
