<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="Name.cshtml" method="[post]">
        <input id="Name" name="Name" />
        <button type="submit">OK</button>
    </form>
</body>
</html>
